004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/xsd/maindoc/EC-DownloadTrackingFilesResponse-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="ec:schema:xsd:DownloadTrackingFilesResponse-0.1" targetNamespace="ec:schema:xsd:DownloadTrackingFilesResponse-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
	<!-- ===== Root Element ===== -->
	<xsd:element name="DownloadTrackingFilesResponse" type="DownloadTrackingFilesResponseType"/>
	<!-- ===== Complex Type ===== -->
	<xsd:complexType name="DownloadTrackingFilesResponseType">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:integer"/>
			<xsd:element name="Status" type="xsd:string"/>
			<xsd:element name="ErrorDescription" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="TrackingTypesList" type="TrackingTypesListType" nillable="true" minOccurs="0"/>
			<xsd:element name="TrackingRemarksList" type="TrackingRemarksListType" nillable="true" minOccurs="0"/>
			<xsd:element name="TrackingStatusList" type="TrackingStatusListType" nillable="true" minOccurs="0"/>
			<xsd:element name="TrackingFilesList" type="TrackingFilesListType" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Tracking Types ===== -->
	<xsd:complexType name="TrackingTypesListType">
		<xsd:sequence>
			<xsd:element name="TrackingType" type="TrackingTypeType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrackingTypeType">
		<xsd:sequence>
			<xsd:element name="ttk_cd" type="xsd:string"/>
			<xsd:element name="ttk_dsc" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Tracking Remarks ===== -->
	<xsd:complexType name="TrackingRemarksListType">
		<xsd:sequence>
			<xsd:element name="TrackingRemark" type="TrackingRemarkType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrackingRemarkType">
		<xsd:sequence>
			<xsd:element name="tms_userid_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tms_status_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tms_msg" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tms_cd" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Tracking Status ===== -->
	<xsd:complexType name="TrackingStatusListType">
		<xsd:sequence>
			<xsd:element name="TrackingStatus" type="TrackingStatusType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrackingStatusType">
		<xsd:sequence>
			<xsd:element name="trs_status_type" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="trs_status_dsc" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="trs_status_cd" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Tracking Files ===== -->
	<xsd:complexType name="TrackingFilesListType">
		<xsd:sequence>
			<xsd:element name="TrackingFile" type="TrackingFileType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrackingFileType">
		<xsd:sequence>
			<xsd:element name="tfi_id" type="xsd:integer"/>
			<xsd:element name="tfi_ttk_cd" type="xsd:string"/>
			<xsd:element name="tfi_file_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_rows_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_blob_file" type="xsd:base64Binary" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_status_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_pda_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_gestion_crh_id" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_tiv_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_tdo_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_dossier_exe_id" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_dossier_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_dossier_seq_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_dg_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_imported_fl" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_signature" type="xsd:base64Binary" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_signee_peo_id" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_signature_dt" type="xsd:dateTime" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_pda_user" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_stock_ref_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_operateur_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_plan_dt" type="xsd:dateTime" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_wft_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_tracked_items_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_remark_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_manual_entry_items_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_transfer_items_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_other_loc_items_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_manual_entry_locs_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_misc_items_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_etd_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="ttk_dsc" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="trs_status_dsc" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tfi_signee_userid_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_last_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_first_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_telnr1_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="DownloadRowsList" type="DownloadRowsListType"/>
			<xsd:element name="SignatoriesList" type="SignatoriesListType"/>
			<xsd:element name="ResponsibleUsersList" type="ResponsibleUsersListType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Download Row Types ===== -->
	<xsd:complexType name="DownloadRowsListType">
		<xsd:sequence>
			<xsd:element name="DownloadRow" type="DownloadRowType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DownloadRowType">
		<xsd:sequence>
			<xsd:element name="tdw_id" type="xsd:integer"/>
			<xsd:element name="tdw_tfi_id" type="xsd:integer"/>
			<xsd:element name="tdw_mat_gen_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_origine_bur_gen_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_destination_bur_gen_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_bat_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_dg_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_peo_id" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_mat_id" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_pro_id" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_planned_quantity_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_origine_bur_bat_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_destination_bur_bat_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_peo_userid_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_peo_last_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_peo_first_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_peo_telnr1_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_mat_serie_no" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_mat_alt_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_pro_tiv_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_pro_desc" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tdw_lcr_no" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="pro_trackable_fl" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Signatory  ===== -->
	<xsd:complexType name="SignatoriesListType">
		<xsd:sequence>
			<xsd:element name="Signatory" type="SignatoryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SignatoryType">
		<xsd:sequence>
			<xsd:element name="dps_tfi_id" type="xsd:integer"/>
			<xsd:element name="dps_peo_id" type="xsd:integer"/>
			<xsd:element name="dps_peo_userid_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="dps_peo_last_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="dps_peo_first_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="dps_peo_telnr1_cd" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Responsible User  ===== -->
	<xsd:complexType name="ResponsibleUsersListType">
		<xsd:sequence>
			<xsd:element name="ResponsibleUser" type="ResponsibleUserType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResponsibleUserType">
		<xsd:sequence>
			<xsd:element name="tfi_id" type="xsd:integer"/>
			<xsd:element name="tfi_dg_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_crh_id" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_userid_cd" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_last_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_first_nm" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="peo_telnr1_cd" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
