004 Development/001 Implementation/e-TrustEx/etrustex-types/src/main/resources/wsdl/ApplicationResponse-3.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:ApplicationResponse-3" xmlns:apr="ec:schema:xsd:ApplicationResponse-3" xmlns:ack="ec:schema:xsd:Ack-3" xmlns:fault="ec:schema:xsd:Fault-3" xmlns:eccc="ec:schema:xsd:CommonComponents-3"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ApplicationResponse" targetNamespace="ec:services:wsdl:ApplicationResponse-3">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:ApplicationResponse-3" elementFormDefault="qualified">
			
			<xsd:import namespace="ec:schema:xsd:ApplicationResponse-3" schemaLocation="../xsd3.0/EC-ApplicationResponse-3.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Fault-3" schemaLocation="../xsd3.0/EC-Fault-3.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonComponents-3" schemaLocation="../xsd3.0/custom/EC-CommonComponents-3.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-3" schemaLocation="../xsd3.0/EC-Ack-3.0.xsd"/>
			
			<xsd:element name="SubmitApplicationResponseRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ApplicationResponse" type="apr:ApplicationResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitApplicationResponseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccc:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitApplicationResponseRequest">
		<part name="SubmitApplicationResponseRequest" element="tns:SubmitApplicationResponseRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitApplicationResponseResponse">
		<part name="SubmitApplicationResponseResponse" element="tns:SubmitApplicationResponseResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="ApplicationResponsePortType">
		<operation name="submitApplicationResponse">
			<input message="tns:submitApplicationResponseRequest"/>
			<output message="tns:submitApplicationResponseResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="ApplicationResponseBinding" type="tns:ApplicationResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitApplicationResponse">
			<input>
				<soap:body parts="SubmitApplicationResponseRequest" use="literal"/>
				<soap:header message="tns:submitApplicationResponseRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitApplicationResponseResponse" use="literal"/>
				<soap:header message="tns:submitApplicationResponseResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ApplicationResponseService">
		<port name="ApplicationResponsePort" binding="tns:ApplicationResponseBinding">
			<soap:address location="${etrustex.root.location}/services"/>
		</port>
	</service>
</definitions>
