004 Development/001 Implementation/e-TrustEx/etrustex-types/src/main/resources/wsdl/CreateParty-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:CreateParty-2" xmlns:cpr="ec:schema:xsd:CreateParty-2" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateParty" targetNamespace="ec:services:wsdl:CreateParty-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:CreateParty-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:CreateParty-2" schemaLocation="../xsd/maindoc/EC-CreateParty-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="CreatePartyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="cpr:CreateParty"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreatePartyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="createPartyRequest">
		<part name="CreatePartyRequest" element="tns:CreatePartyRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="createPartyResponse">
		<part name="CreatePartyResponse" element="tns:CreatePartyResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="createPartyPortType">
		<operation name="createParty">
			<input message="tns:createPartyRequest"/>
			<output message="tns:createPartyResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="createPartyBinding" type="tns:createPartyPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createParty">
			<input>
				<soap:body parts="CreatePartyRequest" use="literal"/>
				<soap:header message="tns:createPartyRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="CreatePartyResponse" use="literal"/>
				<soap:header message="tns:createPartyResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="createPartyService">
		<port name="createPartyPort" binding="tns:createPartyBinding">
			<soap:address location="http://localhost:18181/createPartyService/createPartyPort"/>
		</port>
	</service>
</definitions>
