004 Development/001 Implementation/e-TrustEx/etrustex-types/src/main/resources/wsdl/Document-3.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="Document" targetNamespace="ec:services:wsdl:Document-3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ec:services:wsdl:Document-3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ec="ec:schema:xsd:DeleteDocument-3">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="ec:services:wsdl:Document-3" 
				xmlns:ack="ec:schema:xsd:Ack-3" 
				xmlns:fault="ec:schema:xsd:Fault-3" 
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				xmlns:ec="ec:schema:xsd:DeleteDocument-3"							
				xmlns:tns="ec:services:wsdl:Document-3" 
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				xmlns:eccc="ec:schema:xsd:CommonComponents-3"
				>
			<xsd:import namespace="ec:schema:xsd:Ack-3" schemaLocation="../xsd3.0/EC-Ack-3.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Fault-3" schemaLocation="../xsd3.0/EC-Fault-3.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:DeleteDocument-3" schemaLocation="../xsd3.0/EC-DeleteDocument-3.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonComponents-3" schemaLocation="../xsd3.0/custom/EC-CommonComponents-3.0.xsd"/>
			
			<xsd:element name="SubmitDocumentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="transactionNamespace" type="xsd:string" maxOccurs="1" minOccurs="1"/>
						<xsd:any maxOccurs="1" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitDocumentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>		
			<xsd:element name="DeleteDocumentRequest">
		 		<xsd:complexType>
		   			<xsd:sequence>
		     			<xsd:element ref="ec:DeleteDocument"/>
		   			</xsd:sequence>
				</xsd:complexType>			
			</xsd:element>	
			<xsd:element name="DeleteDocumentResponse">
		 		<xsd:complexType>
		   			<xsd:sequence>
		     			<xsd:element ref="ack:Acknowledgment"/>
		   			</xsd:sequence>
				</xsd:complexType>      		
			</xsd:element>	
			<xsd:element name="Header" type="eccc:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="submitDocumentRequest">
		<wsdl:part element="tns:SubmitDocumentRequest" name="SubmitDocumentRequest"/>
		<wsdl:part element="tns:Header" name="Header"/>
	</wsdl:message>
	<wsdl:message name="submitDocumentResponse">
		<wsdl:part element="tns:SubmitDocumentResponse" name="SubmitDocumentResponse"/>
		<wsdl:part element="tns:Header" name="Header"/>
	</wsdl:message>
  	<wsdl:message name="deleteDocumentRequest">
  		<wsdl:part name="Header" element="tns:Header"/>
    	<wsdl:part name="DeleteDocumentRequest" element="tns:DeleteDocumentRequest"/>
  	</wsdl:message>
  	<wsdl:message name="deleteDocumentResponse">
	  	<wsdl:part name="Header" element="tns:Header"/>
    	<wsdl:part name="DeleteDocumentResponse" element="tns:DeleteDocumentResponse"/>
  	</wsdl:message>	
	<wsdl:message name="FaultResponse">
		<wsdl:part element="tns:Fault" name="FaultResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="submitDocumentPortType">
		<wsdl:operation name="submitDocument">
			<wsdl:input message="tns:submitDocumentRequest"/>
			<wsdl:output message="tns:submitDocumentResponse"/>
			<wsdl:fault message="tns:FaultResponse" name="FaultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="deleteDocumentPortType">
    	<wsdl:operation name="deleteDocument">
      		<wsdl:input message="tns:deleteDocumentRequest"/>
      		<wsdl:output message="tns:deleteDocumentResponse"/>
      		<wsdl:fault name="FaultResponse" message="tns:FaultResponse"/>
   		</wsdl:operation>		
	</wsdl:portType>
	
	<wsdl:binding name="submitDocumentBinding" type="tns:submitDocumentPortType">
		<soap:binding style="document" transport="http://www.openuri.org/2002/04/soap/jms/"/>
		<wsdl:operation name="submitDocument">
			<wsdl:input>
				<soap:header message="tns:submitDocumentRequest" part="Header" use="literal"/>
				<soap:body parts="SubmitDocumentRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:submitDocumentResponse" part="Header" use="literal"/>
				<soap:body parts="SubmitDocumentResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
  	<wsdl:binding name="deleteDocumentBinding" type="tns:deleteDocumentPortType">
   		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="deleteDocument">
      		<wsdl:input>
      			<soap:body parts="DeleteDocumentRequest" use="literal"/>
				<soap:header message="tns:deleteDocumentRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>      		
      		</wsdl:input>
     		<wsdl:output>
        		<soap:body parts="DeleteDocumentResponse" use="literal"/>
				<soap:header message="tns:deleteDocumentResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>     		
      		</wsdl:output>
      		<wsdl:fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</wsdl:fault>
    	</wsdl:operation>
  	</wsdl:binding>	
	
	<wsdl:service name="documentBindingQSService">
		<wsdl:port name="documentBindingQSPort" binding="tns:submitDocumentBinding">
			<soap:address location="jms://localhost:7001/weblogic.jms.XAConnectionFactory/documentQueue"/>
		</wsdl:port>
	</wsdl:service>
	
  	<wsdl:service name="deleteDocumentService">
    	<wsdl:port name="deleteDocumentPort" binding="tns:deleteDocumentBinding">
      		<soap:address location="${etrustex.root.location}/services"/>
    	</wsdl:port>
  	</wsdl:service>	
</definitions>
