004 Development/001 Implementation/e-TrustEx/etrustex-types/src/main/resources/wsdl/InvitationToTender-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:InvitationToTender-2" xmlns:apr="ec:schema:xsd:Shortlist-0.1" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InvitationToTender" targetNamespace="ec:services:wsdl:InvitationToTender-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:InvitationToTender-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:Shortlist-0.1" schemaLocation="../xsd2.1/maindoc/EC-Shortlist-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitInvitationToTenderRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Shortlist" type="apr:ShortlistType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitInvitationToTenderResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitInvitationToTenderRequest">
		<part name="SubmitInvitationToTenderRequest" element="tns:SubmitInvitationToTenderRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitInvitationToTenderResponse">
		<part name="SubmitInvitationToTenderResponse" element="tns:SubmitInvitationToTenderResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="InvitationToTenderPortType">
		<operation name="submitInvitationToTender">
			<input message="tns:submitInvitationToTenderRequest"/>
			<output message="tns:submitInvitationToTenderResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="InvitationToTenderBinding" type="tns:InvitationToTenderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitInvitationToTender">
			<input>
				<soap:body parts="SubmitInvitationToTenderRequest" use="literal"/>
				<soap:header message="tns:submitInvitationToTenderRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitInvitationToTenderResponse" use="literal"/>
				<soap:header message="tns:submitInvitationToTenderResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="InvitationToTenderService">
		<port name="InvitationToTenderPort" binding="tns:InvitationToTenderBinding">
			<soap:address location="__location__/InvitationToTender-2.0"/>
		</port>
	</service>
</definitions>
