004 Development/001 Implementation/e-TrustEx/etrustex-types/src/main/resources/wsdl/RetrieveRequest-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RetrieveRequest" targetNamespace="ec:services:wsdl:RetrieveRequest-1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="ec:services:wsdl:RetrieveRequest-1" 
	xmlns:req="ec:schema:xsd:RetrieveRequest-1" 
    xmlns:res="ec:schema:xsd:RetrieveResponse-1"
    xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-1"
    xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="ec:services:wsdl:RetrieveRequest-1" elementFormDefault="qualified">
            <xsd:import namespace="ec:schema:xsd:RetrieveRequest-1" schemaLocation="../xsd/maindoc/EC-RetrieveRequest-1.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:RetrieveResponse-1" schemaLocation="../xsd/maindoc/EC-RetrieveResponse-1.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-1" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-1.0.xsd"/>
            <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
            <xsd:element name="SubmitRetrieveRequestRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RetrieveRequest" type="req:RetrieveRequestType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="SubmitRetrieveRequestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RetrieveResponse" type="res:RetrieveResponseType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AuthorisationHeader" type="eccac:AuthorisationHeaderType"/>
            <xsd:element name="Fault" type="fault:FaultType"/>            			
        </xsd:schema>        
    </types>
    <message name="retrieveRequestRequest">
        <part name="RetrieveRequestRequest" element="tns:SubmitRetrieveRequestRequest"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="retrieveRequestResponse">
        <part name="RetrieveRequestResponse" element="tns:SubmitRetrieveRequestResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>    
	
    <portType name="retrieveRequestPortType">
        <operation name="submitRetrieveRequest">
            <input message="tns:retrieveRequestRequest"/>
            <output message="tns:retrieveRequestResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>        
    </portType>
    <binding name="retrieveRequestBinding" type="tns:retrieveRequestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitRetrieveRequest">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="RetrieveRequestRequest"/>
                <soap:header use="literal" message="tns:retrieveRequestRequest" part="AuthorisationHeader" >
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
                </soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="RetrieveRequestResponse"/>
                <soap:header use="literal" message="tns:retrieveRequestResponse" part="AuthorisationHeader" >
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
                </soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
    </binding>
    <service name="retrieveRequestService">
        <port name="retrieveRequestPort" binding="tns:retrieveRequestBinding">
            <soap:address location="http://localhost:18181/retrieveRequestService/retrieveRequestPort"/>
        </port>
    </service>    
</definitions>
