004 Development/001 Implementation/e-TrustEx/etrustex-types/src/main/resources/wsdl/StatusRequest-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="StatusRequest" targetNamespace="ec:services:wsdl:StatusRequest-1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="ec:services:wsdl:StatusRequest-1" 
	xmlns:sta="ec:schema:xsd:StatusRequest-1" 
    xmlns:str="ec:schema:xsd:StatusResponse-1"
    xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-1"
    xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="ec:services:wsdl:StatusRequest-1" elementFormDefault="qualified">
            <xsd:import namespace="ec:schema:xsd:StatusRequest-1" schemaLocation="../xsd/maindoc/EC-StatusRequest-1.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:StatusResponse-1" schemaLocation="../xsd/maindoc/EC-StatusResponse-1.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-1" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-1.0.xsd"/>
            <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
            <xsd:element name="SubmitStatusRequestRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="StatusRequest" type="sta:StatusRequestType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="SubmitStatusRequestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="StatusResponse" type="str:StatusResponseType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AuthorisationHeader" type="eccac:AuthorisationHeaderType"/>
            <xsd:element name="Fault" type="fault:FaultType"/>            			
        </xsd:schema>        
    </types>
    <message name="StatusRequestRequest">
        <part name="StatusRequestRequest" element="tns:SubmitStatusRequestRequest"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="StatusRequestResponse">
        <part name="StatusRequestResponse" element="tns:SubmitStatusRequestResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>    
	
    <portType name="StatusRequestPortType">
        <operation name="submitStatusRequest">
            <input message="tns:StatusRequestRequest"/>
            <output message="tns:StatusRequestResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>        
    </portType>
    <binding name="StatusRequestBinding" type="tns:StatusRequestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitStatusRequest">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="StatusRequestRequest"/>
                <soap:header use="literal" message="tns:StatusRequestRequest" part="AuthorisationHeader" >
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
                </soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="StatusRequestResponse"/>
                <soap:header use="literal" message="tns:StatusRequestResponse" part="AuthorisationHeader" >
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
                </soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
    </binding>
    <service name="StatusRequestService">
        <port name="StatusRequestPort" binding="tns:StatusRequestBinding">
            <soap:address location="http://localhost:18181/StatusRequestService/StatusRequestPort"/>
        </port>
    </service>    
</definitions>
