003 Architecture/001 Data Model/200 XSD/wsdl/ApplicationResponse-0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ApplicationResponse" targetNamespace="ec:services:wsdl:ApplicationResponse-0.1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="ec:services:wsdl:ApplicationResponse-0.1" 
    xmlns:apr="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" 
    xmlns:ack="ec:schema:xsd:Ack-1"
    xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-1"
    xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="ec:services:wsdl:ApplicationResponse-0.1" elementFormDefault="qualified">
            <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" schemaLocation="../xsd/maindoc/UBL-ApplicationResponse-2.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:Ack-1" schemaLocation="../xsd/maindoc/EC-Ack-1.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-1" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-1.0.xsd"/>
            <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>                                    
            <xsd:element name="SubmitApplicationResponseRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ApplicationResponse" type="apr:ApplicationResponseType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="SubmitApplicationResponseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Ack" type="ack:AckIndicatorType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            		
			<xsd:element name="AuthorisationHeader" type="eccac:AuthorisationHeaderType"/>
            <xsd:element name="Fault" type="fault:FaultType"/>            	
        </xsd:schema>        
    </types>
    <message name="submitApplicationResponseRequest">
        <part name="SubmitApplicationResponseRequest" element="tns:SubmitApplicationResponseRequest"/>
		<part name="AuthorisationHeader" element="tns:AuthorisationHeader" />        
    </message>
    <message name="submitApplicationResponseResponse">
        <part name="SubmitApplicationResponseResponse" element="tns:SubmitApplicationResponseResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>    
	
    <portType name="ApplicationResponsePortType">
        <operation name="submitApplicationResponse">
            <input message="tns:submitApplicationResponseRequest"/>
            <output message="tns:submitApplicationResponseResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>        
    </portType>
    <binding name="ApplicationResponseBinding" type="tns:ApplicationResponsePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitApplicationResponse">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="SubmitApplicationResponseRequest"/>
				<soap:header use="literal" message="tns:submitApplicationResponseRequest" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="SubmitApplicationResponseResponse"/>
                <soap:header use="literal" message="tns:submitApplicationResponseResponse" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
    </binding>
    <service name="ApplicationResponseService">
        <port name="ApplicationResponsePort" binding="tns:ApplicationResponseBinding">
            <soap:address location="http://localhost:18181/ApplicationResponseService/ApplicationResponsePort"/>
        </port>
    </service>    
</definitions>