003 Architecture/001 Data Model/200 XSD/wsdl/ArchiveDocumentRequest-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:tns="ec:services:wsdl:ArchiveDocumentRequest-1" 
		xmlns:arch="ec:schema:xsd:ArchiveDocumentRequest-1" 
		xmlns:ack="ec:schema:xsd:Ack-2" 
		xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" 
		xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		name="ArchiveDocumentRequest" 
		targetNamespace="ec:services:wsdl:ArchiveDocumentRequest-1">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:ArchiveDocumentRequest-1" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:ArchiveDocumentRequest-1" schemaLocation="../xsd/maindoc/EC-ArchiveDocumentRequest-1.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitArchiveDocumentRequestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ArchiveDocumentRequest" type="arch:ArchiveDocumentRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitArchiveDocumentRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitArchiveDocumentRequestRequest">
		<part name="SubmitArchiveDocumentRequestRequest" element="tns:SubmitArchiveDocumentRequestRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitArchiveDocumentRequestResponse">
		<part name="SubmitArchiveDocumentRequestResponse" element="tns:SubmitArchiveDocumentRequestResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="ArchiveDocumentRequestPortType">
		<operation name="submitArchiveDocumentRequest">
			<input message="tns:submitArchiveDocumentRequestRequest"/>
			<output message="tns:submitArchiveDocumentRequestResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="archiveDocumentRequestBinding" type="tns:ArchiveDocumentRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing wsdl:required="false" />
		<operation name="submitArchiveDocumentRequest">
			<input>
				<soap:body parts="SubmitArchiveDocumentRequestRequest" use="literal"/>
				<soap:header message="tns:submitArchiveDocumentRequestRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitArchiveDocumentRequestResponse" use="literal"/>
				<soap:header message="tns:submitArchiveDocumentRequestResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="archiveDocumentRequestService">
		<port name="archiveDocumentRequestPort" binding="tns:archiveDocumentRequestBinding">
			<soap:address location="http://localhost:18181/archiveDocumentRequestService/archiveDocumentRequestPort"/>
		</port>
	</service>
</definitions>
