003 Architecture/001 Data Model/200 XSD/wsdl/ConfigurationNotification-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:ConfigurationNotification-2"
	xmlns:dbl="ec:schema:xsd:ConfigurationNotification-2" xmlns:ack="ec:schema:xsd:Ack-2"
	xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ConfigurationNotification"
	targetNamespace="ec:services:wsdl:ConfigurationNotification-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:ConfigurationNotification-2"
			elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:ConfigurationNotification-2"
				schemaLocation="../xsd/maindoc/EC-ConfigurationNotification-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:Ack-2"
				schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2"
				schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
				schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitConfigurationNotificationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConfigurationNotification" type="dbl:ConfigurationNotificationType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitConfigurationNotificationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType" />
			<xsd:element name="Fault" type="fault:FaultType" />
		</xsd:schema>
	</wsdl:types>
	<message name="submitConfigurationNotificationRequest">
		<part name="SubmitConfigurationNotificationRequest" element="tns:SubmitConfigurationNotificationRequest" />
		<part name="Header" element="tns:Header" />
	</message>
	<message name="submitConfigurationNotificationResponse">
		<part name="SubmitConfigurationNotificationResponse" element="tns:SubmitConfigurationNotificationResponse" />
		<part name="Header" element="tns:Header" />
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>
	<portType name="ConfigurationNotificationPortType">
		<operation name="submitConfigurationNotification">
			<input message="tns:submitConfigurationNotificationRequest" />
			<output message="tns:submitConfigurationNotificationResponse" />
			<fault name="FaultResponse" message="tns:FaultResponse" />
		</operation>
	</portType>
	<binding name="ConfigurationNotificationBinding" type="tns:ConfigurationNotificationPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsaw:UsingAddressing wsdl:required="false" />
		<operation name="submitConfigurationNotification">
			<input>
				<soap:body parts="SubmitConfigurationNotificationRequest" use="literal" />
				<soap:header message="tns:submitConfigurationNotificationRequest"
					part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse"
						part="FaultResponse" use="literal" />
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitConfigurationNotificationResponse" use="literal" />
				<soap:header message="tns:submitConfigurationNotificationResponse"
					part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse"
						part="FaultResponse" use="literal" />
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="ConfigurationNotificationService">
		<port name="ConfigurationNotificationPort" binding="tns:ConfigurationNotificationBinding">
			<soap:address
				location="${etrustex.root.location}/services" />
		</port>
	</service>
</definitions>
