003 Architecture/001 Data Model/200 XSD/wsdl/CreateInterchangeAgreement-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:CreateInterchangeAgreement-2" xmlns:cia="ec:schema:xsd:CreateInterchangeAgreement-2" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateInterchangeAgreement" targetNamespace="ec:services:wsdl:CreateInterchangeAgreement-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:CreateInterchangeAgreement-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:CreateInterchangeAgreement-2" schemaLocation="../xsd/maindoc/EC-CreateInterchangeAgreement-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="CreateInterchangeAgreementRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="cia:CreateInterchangeAgreement"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateInterchangeAgreementResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="createInterchangeAgreementRequest">
		<part name="CreateInterchangeAgreementRequest" element="tns:CreateInterchangeAgreementRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="createInterchangeAgreementResponse">
		<part name="CreateInterchangeAgreementResponse" element="tns:CreateInterchangeAgreementResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="createInterchangeAgreementPortType">
		<operation name="createInterchangeAgreement">
			<input message="tns:createInterchangeAgreementRequest"/>
			<output message="tns:createInterchangeAgreementResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="createInterchangeAgreementBinding" type="tns:createInterchangeAgreementPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createInterchangeAgreement">
			<input>
				<soap:body parts="CreateInterchangeAgreementRequest" use="literal"/>
				<soap:header message="tns:createInterchangeAgreementRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="CreateInterchangeAgreementResponse" use="literal"/>
				<soap:header message="tns:createInterchangeAgreementResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="createInterchangeAgreementService">
		<port name="createInterchangeAgreementPort" binding="tns:createInterchangeAgreementBinding">
			<soap:address location="http://localhost:18181/createInterchangeAgreementService/createInterchangeAgreementPort"/>
		</port>
	</service>
</definitions>
