003 Architecture/001 Data Model/200 XSD/wsdl/DocumentWrapper-0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DocumentWrapper" targetNamespace="ec:services:wsdl:DocumentWrapper-0.1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="ec:services:wsdl:DocumentWrapper-0.1" 
    xmlns:dwp="ec:schema:xsd:DocumentWrapper-0.1" 
	xmlns:dwr="ec:schema:xsd:DocumentWrapperRequest-0.1" 
    xmlns:ack="ec:schema:xsd:Ack-1"
    xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-1"
    xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="ec:services:wsdl:DocumentWrapper-0.1" elementFormDefault="qualified">
            <xsd:import namespace="ec:schema:xsd:DocumentWrapper-0.1" schemaLocation="../xsd/maindoc/EC-DocumentWrapper-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:DocumentWrapperRequest-0.1" schemaLocation="../xsd/maindoc/EC-DocumentWrapperRequest-0.1.xsd"/>
            <xsd:import namespace="ec:schema:xsd:Ack-1" schemaLocation="../xsd/maindoc/EC-Ack-1.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-1" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-1.0.xsd"/>
            <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>                                    
            <xsd:element name="StoreDocumentWrapperRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DocumentWrapper" type="dwp:DocumentWrapperType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="StoreDocumentWrapperResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Ack" type="ack:AckIndicatorType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<xsd:element name="RetrieveDocumentWrapperRequestRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DocumentWrapperRequest" type="dwr:DocumentWrapperRequestType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="RetrieveDocumentWrapperRequestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DocumentWrapper" type="dwp:DocumentWrapperType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>			
			<xsd:element name="DeleteDocumentWrapperRequestRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DocumentWrapperRequest" type="dwr:DocumentWrapperRequestType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<xsd:element name="DeleteDocumentWrapperRequestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Ack" type="ack:AckIndicatorType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>			
			<xsd:element name="AuthorisationHeader" type="eccac:AuthorisationHeaderType"/>
            <xsd:element name="Fault" type="fault:FaultType"/>            	
        </xsd:schema>        
    </types>
    <message name="storeDocumentWrapperRequest">
        <part name="StoreDocumentWrapperRequest" element="tns:StoreDocumentWrapperRequest"/>
		<part name="AuthorisationHeader" element="tns:AuthorisationHeader" />        
    </message>
    <message name="storeDocumentWrapperResponse">
        <part name="StoreDocumentWrapperResponse" element="tns:StoreDocumentWrapperResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
	<message name="retrieveDocumentWrapperRequestRequest">
        <part name="RetrieveDocumentWrapperRequestRequest" element="tns:RetrieveDocumentWrapperRequestRequest"/>
		<part name="AuthorisationHeader" element="tns:AuthorisationHeader" />        
    </message>
    <message name="retrieveDocumentWrapperRequestResponse">
        <part name="RetrieveDocumentWrapperRequestResponse" element="tns:RetrieveDocumentWrapperRequestResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="deleteDocumentWrapperRequestRequest">
        <part name="DeleteDocumentWrapperRequestRequest" element="tns:DeleteDocumentWrapperRequestRequest"/>
		<part name="AuthorisationHeader" element="tns:AuthorisationHeader" />        
    </message>
    <message name="deleteDocumentWrapperRequestResponse">
        <part name="DeleteDocumentWrapperRequestResponse" element="tns:DeleteDocumentWrapperRequestResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>
    <portType name="documentWrapperPortType">
        <operation name="storeDocumentWrapper">
            <input message="tns:storeDocumentWrapperRequest"/>
            <output message="tns:storeDocumentWrapperResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>        
		<operation name="retrieveDocumentWrapperRequest">
            <input message="tns:retrieveDocumentWrapperRequestRequest"/>
            <output message="tns:retrieveDocumentWrapperRequestResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>
        <operation name="deleteDocumentWrapperRequest">
            <input message="tns:deleteDocumentWrapperRequestRequest"/>
            <output message="tns:deleteDocumentWrapperRequestResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>
    </portType>
    <binding name="documentWrapperBinding" type="tns:documentWrapperPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="storeDocumentWrapper">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="StoreDocumentWrapperRequest"/>
				<soap:header use="literal" message="tns:storeDocumentWrapperRequest" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="StoreDocumentWrapperResponse"/>
                <soap:header use="literal" message="tns:storeDocumentWrapperResponse" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
		<operation name="retrieveDocumentWrapperRequest">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="RetrieveDocumentWrapperRequestRequest"/>
				<soap:header use="literal" message="tns:retrieveDocumentWrapperRequestRequest" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="RetrieveDocumentWrapperRequestResponse"/>
                <soap:header use="literal" message="tns:retrieveDocumentWrapperRequestResponse" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
        <operation name="deleteDocumentWrapperRequest">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="DeleteDocumentWrapperRequestRequest"/>
				<soap:header use="literal" message="tns:deleteDocumentWrapperRequestRequest" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="DeleteDocumentWrapperRequestResponse"/>
                <soap:header use="literal" message="tns:deleteDocumentWrapperRequestResponse" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
    </binding>
    <service name="documentWrapperService">
        <port name="documentWrapperPort" binding="tns:documentWrapperBinding">
            <soap:address location="http://d02di1010873.net1.cec.eu.int:7001/etrustex/external/DocumentWrapper-0.1"/>
        </port>
    </service>    
</definitions>