003 Architecture/001 Data Model/200 XSD/wsdl/DocumentBundle-0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DocumentBundle" targetNamespace="ec:services:wsdl:DocumentBundle-0.1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="ec:services:wsdl:DocumentBundle-0.1" 
    xmlns:dbl="ec:schema:xsd:DocumentBundle-0.1" 
    xmlns:ack="ec:schema:xsd:Ack-1"
    xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-1"
    xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="ec:services:wsdl:DocumentBundle-0.1" elementFormDefault="qualified">
            <xsd:import namespace="ec:schema:xsd:DocumentBundle-0.1" schemaLocation="../xsd/maindoc/EC-DocumentBundle-0.1.xsd"/>
            <xsd:import namespace="ec:schema:xsd:Ack-1" schemaLocation="../xsd/maindoc/EC-Ack-1.0.xsd"/>
            <xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-1" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-1.0.xsd"/>
            <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>                                    
            <xsd:element name="SubmitDocumentBundleRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DocumentBundle" type="dbl:DocumentBundleType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="SubmitDocumentBundleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Ack" type="ack:AckIndicatorType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            		
			<xsd:element name="AuthorisationHeader" type="eccac:AuthorisationHeaderType"/>
            <xsd:element name="Fault" type="fault:FaultType"/>            	
        </xsd:schema>        
    </types>
    <message name="submitDocumentBundleRequest">
        <part name="SubmitDocumentBundleRequest" element="tns:SubmitDocumentBundleRequest"/>
		<part name="AuthorisationHeader" element="tns:AuthorisationHeader" />        
    </message>
    <message name="submitDocumentBundleResponse">
        <part name="SubmitDocumentBundleResponse" element="tns:SubmitDocumentBundleResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>    
	
    <portType name="documentBundlePortType">
        <operation name="submitDocumentBundle">
            <input message="tns:submitDocumentBundleRequest"/>
            <output message="tns:submitDocumentBundleResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>        
    </portType>
    <binding name="documentBundleBinding" type="tns:documentBundlePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitDocumentBundle">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="SubmitDocumentBundleRequest"/>
				<soap:header use="literal" message="tns:submitDocumentBundleRequest" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="SubmitDocumentBundleResponse"/>
                <soap:header use="literal" message="tns:submitDocumentBundleResponse" part="AuthorisationHeader">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
    </binding>
    <service name="documentBundleService">
        <port name="documentBundlePort" binding="tns:documentBundleBinding">
            <soap:address location="http://localhost:18181/documentBundleService/documentBundlePort"/>
        </port>
    </service>    
</definitions>