003 Architecture/001 Data Model/200 XSD/wsdl/RetrieveInterchangeAgreementsRequest-0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RetrieveInterchangeAgreementsRequest" targetNamespace="ec:services:wsdl:RetrieveInterchangeAgreementsRequest-0.1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="ec:services:wsdl:RetrieveInterchangeAgreementsRequest-0.1" 
	xmlns:iar="ec:schema:xsd:RetrieveInterchangeAgreementsRequest-0.1" 
    xmlns:ias="ec:schema:xsd:RetrieveInterchangeAgreementsResponse-0.1"
    xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-1"
    xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="ec:services:wsdl:RetrieveInterchangeAgreementsRequest-0.1" elementFormDefault="qualified">
            <xsd:import namespace="ec:schema:xsd:RetrieveInterchangeAgreementsRequest-0.1" schemaLocation="../xsd/maindoc/EC-RetrieveInterchangeAgreementsRequest-0.1.xsd"/>
            <xsd:import namespace="ec:schema:xsd:RetrieveInterchangeAgreementsResponse-0.1" schemaLocation="../xsd/maindoc/EC-RetrieveInterchangeAgreementsResponse-0.1.xsd"/>
            <xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-1" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-1.0.xsd"/>
            <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
            <xsd:element name="SubmitRetrieveInterchangeAgreementsRequestRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RetrieveInterchangeAgreementsRequest" type="iar:RetrieveInterchangeAgreementsRequestType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="SubmitRetrieveInterchangeAgreementsRequestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RetrieveInterchangeAgreementsResponse" type="ias:RetrieveInterchangeAgreementsResponseType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AuthorisationHeader" type="eccac:AuthorisationHeaderType"/>
            <xsd:element name="Fault" type="fault:FaultType"/>            			
        </xsd:schema>        
    </types>
    <message name="RetrieveInterchangeAgreementsRequestRequest">
        <part name="RetrieveInterchangeAgreementsRequestRequest" element="tns:SubmitRetrieveInterchangeAgreementsRequestRequest"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="RetrieveInterchangeAgreementsRequestResponse">
        <part name="RetrieveInterchangeAgreementsRequestResponse" element="tns:SubmitRetrieveInterchangeAgreementsRequestResponse"/>
        <part name="AuthorisationHeader" element="tns:AuthorisationHeader" />
    </message>
    <message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>    
	
    <portType name="RetrieveInterchangeAgreementsRequestPortType">
        <operation name="submitRetrieveInterchangeAgreementsRequest">
            <input message="tns:RetrieveInterchangeAgreementsRequestRequest"/>
            <output message="tns:RetrieveInterchangeAgreementsRequestResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>        
    </portType>
    <binding name="RetrieveInterchangeAgreementsRequestBinding" type="tns:RetrieveInterchangeAgreementsRequestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitRetrieveInterchangeAgreementsRequest">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="RetrieveInterchangeAgreementsRequestRequest"/>
                <soap:header use="literal" message="tns:RetrieveInterchangeAgreementsRequestRequest" part="AuthorisationHeader" >
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
                </soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="RetrieveInterchangeAgreementsRequestResponse"/>
                <soap:header use="literal" message="tns:RetrieveInterchangeAgreementsRequestResponse" part="AuthorisationHeader" >
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
                </soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
    </binding>
    <service name="RetrieveInterchangeAgreementsRequestService">
        <port name="RetrieveInterchangeAgreementsRequestPort" binding="tns:RetrieveInterchangeAgreementsRequestBinding">
            <soap:address location="http://localhost:18181/RetrieveInterchangeAgreementsRequestService/RetrieveInterchangeAgreementsRequestPort"/>
        </port>
    </service>    
</definitions>
