003 Architecture/001 Data Model/200 XSD/wsdl/ViewRequest-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:ViewRequest-2" xmlns:req="ec:schema:xsd:ViewRequest-2" xmlns:res="ec:schema:xsd:ViewResponse-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:eccbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ViewRequest" targetNamespace="ec:services:wsdl:ViewRequest-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:ViewRequest-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:ViewRequest-2" schemaLocation="../xsd/maindoc/EC-ViewRequest-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:ViewResponse-2" schemaLocation="../xsd/maindoc/EC-ViewResponse-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="../xsd/common/UBL-CommonBasicComponents-2.0.xsd"/>
			<xsd:element name="SubmitViewRequestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ViewRequest" type="req:ViewRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitViewRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ViewResponse" type="res:ViewResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="viewRequestRequest">
		<part name="ViewRequestRequest" element="tns:SubmitViewRequestRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="viewRequestResponse">
		<part name="ViewRequestResponse" element="tns:SubmitViewRequestResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="viewRequestPortType">
		<operation name="submitViewRequest">
			<input message="tns:viewRequestRequest"/>
			<output message="tns:viewRequestResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="viewRequestBinding" type="tns:viewRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitViewRequest">
			<input>
				<soap:body parts="ViewRequestRequest" use="literal"/>
				<soap:header message="tns:viewRequestRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="ViewRequestResponse" use="literal"/>
				<soap:header message="tns:viewRequestResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="viewRequestService">
		<port name="viewRequestPort" binding="tns:viewRequestBinding">
			<soap:address location="${etrustex.root.location}/services"/>
		</port>
	</service>
</definitions>
