004 Development/001 Implementation/e-TrustEx/etrustex-core-web/src/main/webapp/wsdl/BRISDocument-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:BRISDocument-2"
	xmlns:dbl="ec:schema:xsd:BRISDocument-1" xmlns:ack="ec:schema:xsd:Ack-2"
	xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BRISDocument"
	targetNamespace="ec:services:wsdl:BRISDocument-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:BRISDocument-2"
			elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:BRISDocument-1"
				schemaLocation="../xsd/maindoc/EC-BRISDocument-1.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:Ack-2"
				schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2"
				schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
				schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitBRISDocumentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BRISDocument" type="dbl:BRISDocumentType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitBRISDocumentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType" />
			<xsd:element name="Fault" type="fault:FaultType" />
		</xsd:schema>
	</wsdl:types>
	<message name="submitBRISDocumentRequest">
		<part name="SubmitBRISDocumentRequest" element="tns:SubmitBRISDocumentRequest" />
		<part name="Header" element="tns:Header" />
	</message>
	<message name="submitBRISDocumentResponse">
		<part name="SubmitBRISDocumentResponse" element="tns:SubmitBRISDocumentResponse" />
		<part name="Header" element="tns:Header" />
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>
	<portType name="BRISDocumentPortType">
		<operation name="submitBRISDocument">
			<input message="tns:submitBRISDocumentRequest" />
			<output message="tns:submitBRISDocumentResponse" />
			<fault name="FaultResponse" message="tns:FaultResponse" />
		</operation>
	</portType>
	<binding name="BRISDocumentBinding" type="tns:BRISDocumentPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsaw:UsingAddressing wsdl:required="false" />
		<operation name="submitBRISDocument">
			<input>
				<soap:body parts="SubmitBRISDocumentRequest" use="literal" />
				<soap:header message="tns:submitBRISDocumentRequest"
					part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse"
						part="FaultResponse" use="literal" />
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitBRISDocumentResponse" use="literal" />
				<soap:header message="tns:submitBRISDocumentResponse"
					part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse"
						part="FaultResponse" use="literal" />
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="BRISDocumentService">
		<port name="BRISDocumentPort" binding="tns:BRISDocumentBinding">
			<soap:address
				location="${etrustex.root.location}/services" />
		</port>
	</service>
</definitions>
