004 Development/001 Implementation/e-TrustEx/etrustex-core-web/src/main/webapp/wsdl/EventNotification-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:EventNotification-1"
	xmlns:dbl="ec:schema:xsd:EventNotification-1" xmlns:ack="ec:schema:xsd:Ack-2"
	xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EventNotification"
	targetNamespace="ec:services:wsdl:EventNotification-1">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:EventNotification-1"
			elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:EventNotification-1"
				schemaLocation="../xsd/maindoc/EC-EventNotification-1.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:Ack-2"
				schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2"
				schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
				schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitEventNotificationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EventNotification" type="dbl:EventNotificationType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitEventNotificationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType" />
			<xsd:element name="Fault" type="fault:FaultType" />
		</xsd:schema>
	</wsdl:types>
	<message name="submitEventNotificationRequest">
		<part name="SubmitEventNotificationRequest" element="tns:SubmitEventNotificationRequest" />
		<part name="Header" element="tns:Header" />
	</message>
	<message name="submitEventNotificationResponse">
		<part name="SubmitEventNotificationResponse" element="tns:SubmitEventNotificationResponse" />
		<part name="Header" element="tns:Header" />
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>
	<portType name="EventNotificationPortType">
		<operation name="submitEventNotification">
			<input message="tns:submitEventNotificationRequest" />
			<output message="tns:submitEventNotificationResponse" />
			<fault name="FaultResponse" message="tns:FaultResponse" />
		</operation>
	</portType>
	<binding name="EventNotificationBinding" type="tns:EventNotificationPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsaw:UsingAddressing wsdl:required="false" />
		<operation name="submitEventNotification">
			<input>
				<soap:body parts="SubmitEventNotificationRequest" use="literal" />
				<soap:header message="tns:submitEventNotificationRequest"
					part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse"
						part="FaultResponse" use="literal" />
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitEventNotificationResponse" use="literal" />
				<soap:header message="tns:submitEventNotificationResponse"
					part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse"
						part="FaultResponse" use="literal" />
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="EventNotificationService">
		<port name="EventNotificationPort" binding="tns:EventNotificationBinding">
			<soap:address
				location="${etrustex.root.location}/services" />
		</port>
	</service>
</definitions>
