004 Development/001 Implementation/e-TrustEx/etrustex-core-web/src/main/webapp/wsdl/QueryRequestJustice-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:QueryRequestJustice-2" xmlns:req="ec:schema:xsd:QueryRequestJustice-2" xmlns:res="ec:schema:xsd:QueryResponseJustice-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryRequestJustice2" targetNamespace="ec:services:wsdl:QueryRequestJustice-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:QueryRequestJustice-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:QueryRequestJustice-2" schemaLocation="../xsd/maindoc/EC-QueryRequestJustice-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:QueryResponseJustice-2" schemaLocation="../xsd/maindoc/EC-QueryResponseJustice-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitQueryRequestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QueryRequest" type="req:QueryRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitQueryRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QueryResponse" type="res:QueryResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="QueryRequestRequest">
		<part name="QueryRequestRequest" element="tns:SubmitQueryRequestRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="QueryRequestResponse">
		<part name="QueryRequestResponse" element="tns:SubmitQueryRequestResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="QueryRequestPortType">
		<operation name="submitQueryRequest">
			<input message="tns:QueryRequestRequest"/>
			<output message="tns:QueryRequestResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="QueryRequestBinding" type="tns:QueryRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitQueryRequest">
			<input>
				<soap:body parts="QueryRequestRequest" use="literal"/>
				<soap:header message="tns:QueryRequestRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="QueryRequestResponse" use="literal"/>
				<soap:header message="tns:QueryRequestResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="QueryRequestService">
		<port name="QueryRequestPort" binding="tns:QueryRequestBinding">
			<soap:address location="${etrustex.root.location}/services"/>
		</port>
	</service>
</definitions>
