004 Development/001 Implementation/e-TrustEx/etrustex-types/src/main/resources/xsd3.0/custom/EC-CommonComponents-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="ec:schema:xsd:CommonComponents-3"
			xmlns:sbdh="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader"
			xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
			targetNamespace="ec:schema:xsd:CommonComponents-3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">

	<xsd:import namespace="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader" schemaLocation="../../xsd/common/sbdh/StandardBusinessDocumentHeader.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" schemaLocation="../../xsd/common/UnqualifiedDataTypeSchemaModule-2.0.xsd"/>
	<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="../../xsd/common/xmlmime.xsd"/>

	<xsd:element name="ID" type="xsd:string"/>
	<xsd:element name="UUID" type="UUIDType"/>
	<xsd:element name="Note" type="NoteType"/>
	<xsd:element name="DocumentWrapperReference" type="DocumentWrapperReferenceType"/>
	<xsd:element name="Header" type="HeaderType"/>
	<xsd:element name="BusinessHeader" type="BusinessHeaderType"/>
	<xsd:element name="TechnicalHeader" type="TechnicalHeaderType"/>
	<xsd:element name="DocumentSize" type="DocumentSizeType"/>
	<xsd:element name="Name" type="NameType"/>
	<xsd:element name="DocumentHashMethod" type="DigestMethodType"/>
	<xsd:element name="DocumentHash" type="DocumentHashType"/>
	<xsd:element name="Format" type="FormatType"/>
	<xsd:element name="dateTime" type="xsd:dateTime"/>
	<xsd:element name="Creator" type="CreatorType"/>
	<xsd:element name="URI" type="URIType"/>
	<xsd:element name="StreamBase64Binary" type="Base64BinaryType"/>
	<xsd:element name="EncryptionInformation" type="EncryptionInformationType"/>
	<xsd:element name="ExternalReference" type="ExternalReferenceType"/>
	<xsd:element name="LargeAttachment" type="LargeAttachmentType"/>
	<xsd:element name="StartDate" type="StartDateType"/>
	<xsd:element name="StartTime" type="StartTimeType"/>
	<xsd:element name="EndDate" type="EndDateType"/>
	<xsd:element name="EndTime" type="EndTimeType"/>
	<xsd:element name="DurationMeasure" type="DurationMeasureType"/>
	<xsd:element name="Description" type="DescriptionType"/>
	<xsd:element name="DescriptionCode" type="DescriptionCodeType"/>
	<xsd:element name="ExpiryDate" type="ExpiryDateType"/>
	<xsd:element name="ExpiryTime" type="ExpiryTimeType"/>
	<xsd:element name="ValidityPeriod" type="PeriodType"/>
	<xsd:element name="Period" type="PeriodType"/>
	<xsd:element name="KeyUsageCode" type="KeyUsageCodeType"/>
	<xsd:element name="OriginatorDocumentReference" type="sbdh:DocumentIdentification"/>
	<xsd:element name="DocumentReference" type="sbdh:DocumentIdentification"/>
	<xsd:element name="ResourceInformationReference" type="ResourceInformationReferenceType"/>
	<xsd:element name="PayloadDigestMethod" type="DigestMethodType"/>
	<xsd:element name="PayloadDigestValue" type="DigestValueType"/>
	<xsd:element name="PayloadCanonicalizationMethod" type="CanonicalizationMethodType"/>
	<xsd:element name="IssueDate" type="IssueDateType"/>
	<xsd:element name="IssueTime" type="IssueTimeType"/>
	<xsd:element name="CopyIndicator" type="CopyIndicatorType"/>
	<xsd:element name="DocumentTypeCode" type="DocumentTypeCodeType"/>
	<xsd:element name="DocumentType" type="DocumentTypeType"/>
	<xsd:element name="XPath" type="XPathType"/>
	<xsd:element name="LanguageID" type="LanguageIDType"/>
	<xsd:element name="LocaleCode" type="LocaleCodeType"/>
	<xsd:element name="VersionID" type="VersionIDType"/>
	<xsd:element name="DocumentStatusCode" type="DocumentStatusCodeType"/>
	<xsd:element name="DocumentDescription" type="DocumentDescriptionType"/>
	<xsd:element name="Attachment" type="AttachmentType"/>
	<xsd:element name="EmbeddedDocumentBinaryObject" type="EmbeddedDocumentBinaryObjectType"/>
	<xsd:element name="IssuerParty" type="sbdh:Partner"/>
	<xsd:element name="SenderParty" type="sbdh:Partner"/>
	<xsd:element name="ReceiverParty" type="sbdh:Partner"/>
	<xsd:element name="RecipientParty" type="sbdh:Partner"/>
	<xsd:element name="CustomizationID" type="CustomizationIDType"/>
	<xsd:element name="ProfileID" type="ProfileIDType"/>
	<xsd:element name="ActionCode" type="ActionCodeType"/>
	<xsd:element name="EndpointID" type="EndpointIDType"/>
	<xsd:element name="ResponseCode" type="ResponseCodeType"/>
	<xsd:element name="DocumentReferenceResponseRelatedDocs" type="DocumentReferenceResponseRelatedDocsType"/>
	<xsd:element name="DocumentReferenceResponse" type="DocumentReferenceResponseType"/>
	<xsd:element name="ParentDocument" type="DocumentReferenceResponseType"/>
	<xsd:element name="RelatedDocument" type="DocumentReferenceResponseType"/>
	<xsd:element name="Response" type="ResponseType"/>
	<xsd:element name="ReferenceID" type="ReferenceIDType"/>
	<xsd:element name="Status" type="StatusType"/>
	<xsd:element name="Text" type="TextType"/>
	<xsd:element name="StatusReasonCode" type="StatusReasonCodeType"/>
	<xsd:element name="RetrieveIndicator" type="RetrieveIndicatorType"/>
	<xsd:element name="DocumentContent" type="DocumentContentType"/>
	<xsd:element name="InterchangeAgreement" type="InterchangeAgreementType"/>
	<xsd:element name="SecurityInformation" type="SecurityInformationType"/>
	<xsd:element name="ConfidentialityLevelCode" type="ConfidentialityLevelCodeType"/>
	<xsd:element name="IntegrityLevelCode" type="IntegrityLevelCodeType"/>
	<xsd:element name="AvailabilityLevelCode" type="AvailabilityLevelCodeType"/>
	<xsd:element name="SenderPartyCertificate" type="CertificateType"/>
	<xsd:element name="ReceiverPartyCertificate" type="CertificateType"/>
	<xsd:element name="DocumentResponse" type="DocumentResponseType"/>
	<xsd:element name="LineResponse" type="LineResponseType"/>
	<xsd:element name="LineReference" type="LineReferenceType"/> 
	<xsd:element name="LineID" type="LineIDType"/>
  	<xsd:element name="LineStatusCode" type="StatusType"/>
  	<xsd:element name="RequestDocumentParameter" type="RequestDocumentParameterType"/>
  	<xsd:element name="RetrieveExtensionsIndicator" type="RetrieveExtensionsIndicatorType"/>
	<xsd:element name="RetrievedDocumentsIndicator" type="RetrievedDocumentsIndicatorType"/>
	<xsd:element name="DocumentReferenceResponseParentDocs" type="DocumentReferenceResponseParentDocsType"/>
	<xsd:element name="ParentDocumentID" type="ParentDocumentIDType"/>
  	<xsd:element name="ParentDocumentTypeCode" type="ParentDocumentTypeCodeType"/>
	<xsd:element name="AckIndicator" type="AckIndicatorType"/>
	<xsd:element name="AcknowledgedDocumentReference" type="AcknowledgedDocumentReferenceType"/>
	
	<xsd:complexType name="UUIDType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="NoteType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentWrapperReferenceType">
		<xsd:sequence>
			<xsd:element name="DocumentIdentification" type="sbdh:DocumentIdentification" />
			<xsd:element ref="ResourceInformationReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HeaderType">
		<xsd:sequence>
			<xsd:element ref="BusinessHeader"/>
			<xsd:element ref="TechnicalHeader" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BusinessHeaderType">
		<xsd:complexContent>
			<xsd:extension base="sbdh:StandardBusinessDocumentHeader">
				<xsd:sequence>
					<xsd:element name="ValidationResult">
						<xsd:complexType>
							<xsd:sequence>

								<xsd:any/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="TechnicalHeaderType">
		<xsd:sequence>
			<xsd:element ref="PayloadDigestValue" minOccurs="0"/>
			<xsd:element ref="PayloadDigestMethod" minOccurs="0"/>
			<xsd:element ref="PayloadCanonicalizationMethod" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DocumentSizeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:NumericType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="NameType">
		<xsd:simpleContent>
			<xsd:extension base="udt:NameType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DigestMethodType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DigestValueType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="CanonicalizationMethodType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentHashType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="FormatType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="CreatorType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="URIType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="Base64BinaryType">
		<xsd:simpleContent>
			<xsd:extension base="xmime:base64Binary">
				<xsd:attribute name="mimeCode" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="encodingCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="KeyUsageCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="StartDateType">
		<xsd:simpleContent>
			<xsd:extension base="udt:DateType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StartTimeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TimeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EndDateType">
		<xsd:simpleContent>
			<xsd:extension base="udt:DateType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EndTimeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TimeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DurationMeasureType">
		<xsd:simpleContent>
			<xsd:extension base="udt:MeasureType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DescriptionType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DescriptionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="PeriodType">
		<xsd:sequence>
			<xsd:element ref="StartDate" minOccurs="0"/>
			<xsd:element ref="StartTime" minOccurs="0"/>
			<xsd:element ref="EndDate" minOccurs="0"/>
			<xsd:element ref="EndTime" minOccurs="0"/>
			<xsd:element ref="DurationMeasure" minOccurs="0"/>
			<xsd:element ref="DescriptionCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Description" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CertificateType">
		<xsd:sequence>
			<xsd:element ref="KeyUsageCode"/>
			<xsd:element name="X509Certificate" type="udt:BinaryObjectType"/>
			<xsd:element name="X509SubjectName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="X509CRL" type="udt:BinaryObjectType" minOccurs="0"/>
			<xsd:element ref="ValidityPeriod" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EncryptionInformationType">
		<xsd:sequence>
			<xsd:element name="Certificate" type="CertificateType" minOccurs="0"/>
			<xsd:element name="SessionKey" type="udt:BinaryObjectType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ExpiryDateType">
		<xsd:simpleContent>
			<xsd:extension base="udt:DateType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ExpiryTimeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TimeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="ExternalReferenceType">
		<xsd:sequence>
			<xsd:element ref="URI" minOccurs="0">
			</xsd:element>
			<xsd:element ref="DocumentHash" minOccurs="0">
			</xsd:element>
			<xsd:element ref="ExpiryDate" minOccurs="0">
			</xsd:element>
			<xsd:element ref="ExpiryTime" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LargeAttachmentType">
		<xsd:sequence>
			<xsd:element ref="StreamBase64Binary" minOccurs="0"/>
			<xsd:element ref="ExternalReference" minOccurs="0"/>
			<xsd:element ref="EncryptionInformation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ResourceInformationReferenceType">
		<xsd:sequence>
			<xsd:element ref="Name" minOccurs="0"/>
			<xsd:element ref="DocumentSize" minOccurs="0"/>
			<xsd:element ref="DocumentHashMethod" minOccurs="0"/>
			<xsd:element ref="DocumentHash" minOccurs="0"/>
			<xsd:element ref="Format" minOccurs="0"/>
			<xsd:element ref="dateTime" minOccurs="0"/>
			<xsd:element ref="Creator" minOccurs="0"/>
			<xsd:element ref="URI" minOccurs="0"/>
			<xsd:element ref="LargeAttachment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CopyIndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IndicatorType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentTypeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="XPathType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="LanguageIDType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="LocaleCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="VersionIDType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentDescriptionType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="EmbeddedDocumentBinaryObjectType">
		<xsd:simpleContent>
			<xsd:extension base="udt:BinaryObjectType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="AttachmentType">
		<xsd:sequence>
			<xsd:element ref="EmbeddedDocumentBinaryObject" minOccurs="0">
			</xsd:element>
			<xsd:element ref="ExternalReference" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CustomizationIDType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="ProfileIDType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="ActionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="IssueDateType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:DateType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
  	
  	<xsd:complexType name="IssueTimeType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:TimeType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
	
	<xsd:complexType name="EndpointIDType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:IdentifierType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
  	
  	<xsd:complexType name="ResponseCodeType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:CodeType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
  	
  	<xsd:complexType name="DocumentReferenceResponseRelatedDocsType">
		<xsd:sequence>
			<xsd:element ref="DocumentReferenceResponse"/>
			<xsd:element ref="RelatedDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DocumentReferenceResponseType">
		<xsd:sequence>
			<xsd:element ref="Response" minOccurs="0"/>
			<xsd:element ref="Status" minOccurs="0"/>
			<xsd:element ref="OriginatorDocumentReference" minOccurs="0"/>
			<xsd:element ref="DocumentReference"/>
			<xsd:element ref="SenderParty" minOccurs="0"/>
			<xsd:element ref="ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ResponseType">		
		<xsd:sequence>
			<xsd:element ref="ReferenceID"/>
			<xsd:element ref="ResponseCode" minOccurs="0"/>
			<xsd:element ref="Description" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ReferenceIDType">
	    <xsd:simpleContent>
	      <xsd:extension base="udt:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="StatusType">
		<xsd:sequence>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="StatusReasonCode" minOccurs="0"/>
			<xsd:element ref="Text" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="TextType">
		<xsd:simpleContent>
	    	<xsd:extension base="udt:TextType"/>
	    </xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="StatusReasonCodeType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:CodeType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
  	
  	<xsd:complexType name="RetrieveIndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IndicatorType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="DocumentContentType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="skip" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="InterchangeAgreementType">
		<xsd:sequence>
			<xsd:element ref="SenderParty"/>
			<xsd:element ref="ReceiverParty"/>
			<xsd:element ref="SecurityInformation" minOccurs="0"/>
			<xsd:element ref="DocumentTypeCode"/>
			<xsd:element ref="ProfileID" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SecurityInformationType">
		<xsd:sequence>
			<xsd:element ref="ConfidentialityLevelCode"/>
			<xsd:element ref="IntegrityLevelCode"/>
			<xsd:element ref="AvailabilityLevelCode"/>
			<xsd:element ref="SenderPartyCertificate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ReceiverPartyCertificate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConfidentialityLevelCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="IntegrityLevelCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="AvailabilityLevelCodeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="DocumentResponseType">
		<xsd:sequence>
			<xsd:element ref="Response"/>
			<xsd:element ref="DocumentReference"/>
			<xsd:element ref="IssuerParty" minOccurs="0"/>
			<xsd:element ref="RecipientParty" minOccurs="0"/>
			<xsd:element ref="LineResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="LineResponseType">		
		<xsd:sequence>
			<xsd:element ref="LineReference"/>
			<xsd:element ref="Response" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="LineReferenceType">
		<xsd:sequence>
			<xsd:element ref="LineID"/>
			<xsd:element ref="UUID" minOccurs="0"/>
			<xsd:element ref="LineStatusCode" minOccurs="0"/>
			<xsd:element ref="DocumentReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="LineIDType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:IdentifierType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
  	
  	<xsd:complexType name="RequestDocumentParameterType">
		<xsd:sequence>
			<xsd:element ref="Period" minOccurs="0"/>
			<xsd:element ref="DocumentTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="OriginatorDocumentReference" minOccurs="0"/>
			<xsd:element ref="RetrievedDocumentsIndicator" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RetrieveExtensionsIndicator" minOccurs="0"/>
			<xsd:element ref="SenderParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RetrievedDocumentsIndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IndicatorType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="RetrieveExtensionsIndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IndicatorType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="DocumentReferenceResponseParentDocsType">
		<xsd:sequence>
			<xsd:element ref="DocumentReferenceResponse"/>
			<xsd:element ref="ParentDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ParentDocumentIDType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:IdentifierType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
    
	 <xsd:complexType name="ParentDocumentTypeCodeType">
    	<xsd:simpleContent>
      		<xsd:extension base="udt:CodeType"/>
    	</xsd:simpleContent>
  	</xsd:complexType>
  	
  	<xsd:complexType name="AckIndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="udt:IndicatorType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="AcknowledgedDocumentReferenceType">
		<xsd:sequence>
			<xsd:element ref="DocumentReference"/>
			<xsd:element ref="SenderParty" minOccurs="0"/>
			<xsd:element ref="ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>