004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/AdditionalInformationRequest-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="ec:services:wsdl:AdditionalInformationRequest-2" xmlns:ques="ec:schema:xsd:TenderingQuestions-0.1" xmlns:ack="ec:schema:xsd:Ack-2" 
xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdditionalInformationRequest" targetNamespace="ec:services:wsdl:AdditionalInformationRequest-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:AdditionalInformationRequest-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:TenderingQuestions-0.1" schemaLocation="../xsd2.1/maindoc/EC-TenderingQuestions-0_1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitAdditionalInformationRequestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TenderingQuestions" type="ques:TenderingQuestionsType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitAdditionalInformationRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitAdditionalInformationRequestRequest">
		<part name="SubmitAdditionalInformationRequestRequest" element="tns:SubmitAdditionalInformationRequestRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitAdditionalInformationRequestResponse">
		<part name="SubmitAdditionalInformationRequestResponse" element="tns:SubmitAdditionalInformationRequestResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="AdditionalInformationRequestPortType">
		<operation name="submitAdditionalInformationRequest">
			<input message="tns:submitAdditionalInformationRequestRequest"/>
			<output message="tns:submitAdditionalInformationRequestResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="AdditionalInformationRequestBinding" type="tns:AdditionalInformationRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitAdditionalInformationRequest">
			<input>
				<soap:body parts="SubmitAdditionalInformationRequestRequest" use="literal"/>
				<soap:header message="tns:submitAdditionalInformationRequestRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitAdditionalInformationRequestResponse" use="literal"/>
				<soap:header message="tns:submitAdditionalInformationRequestResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="AdditionalInformationRequestService">
		<port name="AdditionalInformationRequestPort" binding="tns:AdditionalInformationRequestBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
