004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/AdditionalInformation-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="ec:services:wsdl:AdditionalInformation-2" xmlns:answ="ec:schema:xsd:TenderingAnswers-0.1" xmlns:ack="ec:schema:xsd:Ack-2" 
xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdditionalInformation" targetNamespace="ec:services:wsdl:AdditionalInformation-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:AdditionalInformation-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:TenderingAnswers-0.1" schemaLocation="../xsd2.1/maindoc/EC-TenderingAnswers-0_1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitAdditionalInformationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TenderingAnswers" type="answ:TenderingAnswersType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitAdditionalInformationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitAdditionalInformationRequest">
		<part name="SubmitAdditionalInformationRequest" element="tns:SubmitAdditionalInformationRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitAdditionalInformationResponse">
		<part name="SubmitAdditionalInformationResponse" element="tns:SubmitAdditionalInformationResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="AdditionalInformationPortType">
		<operation name="submitAdditionalInformation">
			<input message="tns:submitAdditionalInformationRequest"/>
			<output message="tns:submitAdditionalInformationResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="AdditionalInformationBinding" type="tns:AdditionalInformationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitAdditionalInformation">
			<input>
				<soap:body parts="SubmitAdditionalInformationRequest" use="literal"/>
				<soap:header message="tns:submitAdditionalInformationRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitAdditionalInformationResponse" use="literal"/>
				<soap:header message="tns:submitAdditionalInformationResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="AdditionalInformationService">
		<port name="AdditionalInformationPort" binding="tns:AdditionalInformationBinding">
			<soap:address location="${eprior.root.location}/services"/>	
		</port>
	</service>
</definitions>
