004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/CallForTenders-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:CallForTenders-2" xmlns:apr="urn:oasis:names:specification:ubl:schema:xsd:CallForTenders-2" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CallForTenders" targetNamespace="ec:services:wsdl:CallForTenders-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:CallForTenders-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CallForTenders-2" schemaLocation="../xsd2.1/maindoc/UBL-CallForTenders-2.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitCallForTendersRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CallForTenders" type="apr:CallForTendersType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitCallForTendersResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitCallForTendersRequest">
		<part name="SubmitCallForTendersRequest" element="tns:SubmitCallForTendersRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitCallForTendersResponse">
		<part name="SubmitCallForTendersResponse" element="tns:SubmitCallForTendersResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="CallForTendersPortType">
		<operation name="submitCallForTenders">
			<input message="tns:submitCallForTendersRequest"/>
			<output message="tns:submitCallForTendersResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="CallForTendersBinding" type="tns:CallForTendersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitCallForTenders">
			<input>
				<soap:body parts="SubmitCallForTendersRequest" use="literal"/>
				<soap:header message="tns:submitCallForTendersRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitCallForTendersResponse" use="literal"/>
				<soap:header message="tns:submitCallForTendersResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="CallForTendersService">
		<port name="CallForTendersPort" binding="tns:CallForTendersBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
