004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/Catalogue-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="ec:services:wsdl:Catalogue-2" 
			xmlns:cat="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"  
			xmlns:ack="ec:schema:xsd:Ack-2" 
			xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" 
			xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" 
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
			name="Catalogue" 
			targetNamespace="ec:services:wsdl:Catalogue-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:Catalogue-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="../xsd/maindoc/UBL-Catalogue-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitCatalogueRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Catalogue" type="cat:CatalogueType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitCatalogueResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitCatalogueRequest">
		<part name="SubmitCatalogueRequest" element="tns:SubmitCatalogueRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitCatalogueResponse">
		<part name="SubmitCatalogueResponse" element="tns:SubmitCatalogueResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="cataloguePortType">
		<operation name="submitCatalogue">
			<input message="tns:submitCatalogueRequest"/>
			<output message="tns:submitCatalogueResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="catalogueBinding" type="tns:cataloguePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitCatalogue">
			<input>
				<soap:body parts="SubmitCatalogueRequest" use="literal"/>
				<soap:header message="tns:submitCatalogueRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitCatalogueResponse" use="literal"/>
				<soap:header message="tns:submitCatalogueResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="catalogueService">
		<port name="cataloguePort" binding="tns:catalogueBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
