004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/DespatchAdvice-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:DespatchAdvice-2" xmlns:apr="urn:oasis:names:specification:ubl:schema:xsd:DespatchAdvice-2" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DespatchAdvice" targetNamespace="ec:services:wsdl:DespatchAdvice-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:DespatchAdvice-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:DespatchAdvice-2" schemaLocation="../xsd/maindoc/UBL-DespatchAdvice-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitDespatchAdviceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DespatchAdvice" type="apr:DespatchAdviceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitDespatchAdviceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitDespatchAdviceRequest">
		<part name="SubmitDespatchAdviceRequest" element="tns:SubmitDespatchAdviceRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitDespatchAdviceResponse">
		<part name="SubmitDespatchAdviceResponse" element="tns:SubmitDespatchAdviceResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="DespatchAdvicePortType">
		<operation name="submitDespatchAdvice">
			<input message="tns:submitDespatchAdviceRequest"/>
			<output message="tns:submitDespatchAdviceResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="DespatchAdviceBinding" type="tns:DespatchAdvicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitDespatchAdvice">
			<input>
				<soap:body parts="SubmitDespatchAdviceRequest" use="literal"/>
				<soap:header message="tns:submitDespatchAdviceRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitDespatchAdviceResponse" use="literal"/>
				<soap:header message="tns:submitDespatchAdviceResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="DespatchAdviceService">
		<port name="DespatchAdvicePort" binding="tns:DespatchAdviceBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
