004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/DownloadOrganizationUsersResponse-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:DownloadOrganizationUsersResponse-2" xmlns:apr="ec:schema:xsd:DownloadOrganizationUsersResponse-0.1" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DownloadOrganizationUsersResponse" targetNamespace="ec:services:wsdl:DownloadOrganizationUsersResponse-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:DownloadOrganizationUsersResponse-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:DownloadOrganizationUsersResponse-0.1" schemaLocation="../xsd/maindoc/EC-DownloadOrganizationUsersResponse-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitDownloadOrganizationUsersResponseRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DownloadOrganizationUsersResponse" type="apr:DownloadOrganizationUsersResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitDownloadOrganizationUsersResponseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitDownloadOrganizationUsersResponseRequest">
		<part name="SubmitDownloadOrganizationUsersResponseRequest" element="tns:SubmitDownloadOrganizationUsersResponseRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitDownloadOrganizationUsersResponseResponse">
		<part name="SubmitDownloadOrganizationUsersResponseResponse" element="tns:SubmitDownloadOrganizationUsersResponseResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="DownloadOrganizationUsersResponsePortType">
		<operation name="submitDownloadOrganizationUsersResponse">
			<input message="tns:submitDownloadOrganizationUsersResponseRequest"/>
			<output message="tns:submitDownloadOrganizationUsersResponseResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="DownloadOrganizationUsersResponseBinding" type="tns:DownloadOrganizationUsersResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitDownloadOrganizationUsersResponse">
			<input>
				<soap:body parts="SubmitDownloadOrganizationUsersResponseRequest" use="literal"/>
				<soap:header message="tns:submitDownloadOrganizationUsersResponseRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitDownloadOrganizationUsersResponseResponse" use="literal"/>
				<soap:header message="tns:submitDownloadOrganizationUsersResponseResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="DownloadOrganizationUsersResponseService">
		<port name="DownloadOrganizationUsersResponsePort" binding="tns:DownloadOrganizationUsersResponseBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
