004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/DownloadTrackingFilesRequest-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:DownloadTrackingFilesRequest-2" xmlns:apr="ec:schema:xsd:DownloadTrackingFilesRequest-0.1" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DownloadTrackingFilesRequest" targetNamespace="ec:services:wsdl:DownloadTrackingFilesRequest-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:DownloadTrackingFilesRequest-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:DownloadTrackingFilesRequest-0.1" schemaLocation="../xsd/maindoc/EC-DownloadTrackingFilesRequest-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitDownloadTrackingFilesRequestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DownloadTrackingFilesRequest" type="apr:DownloadTrackingFilesRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitDownloadTrackingFilesRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitDownloadTrackingFilesRequestRequest">
		<part name="SubmitDownloadTrackingFilesRequestRequest" element="tns:SubmitDownloadTrackingFilesRequestRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitDownloadTrackingFilesRequestResponse">
		<part name="SubmitDownloadTrackingFilesRequestResponse" element="tns:SubmitDownloadTrackingFilesRequestResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="DownloadTrackingFilesRequestPortType">
		<operation name="submitDownloadTrackingFilesRequest">
			<input message="tns:submitDownloadTrackingFilesRequestRequest"/>
			<output message="tns:submitDownloadTrackingFilesRequestResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="DownloadTrackingFilesRequestBinding" type="tns:DownloadTrackingFilesRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitDownloadTrackingFilesRequest">
			<input>
				<soap:body parts="SubmitDownloadTrackingFilesRequestRequest" use="literal"/>
				<soap:header message="tns:submitDownloadTrackingFilesRequestRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitDownloadTrackingFilesRequestResponse" use="literal"/>
				<soap:header message="tns:submitDownloadTrackingFilesRequestResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="DownloadTrackingFilesRequestService">
		<port name="DownloadTrackingFilesRequestPort" binding="tns:DownloadTrackingFilesRequestBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
