004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/Evidences-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="ec:services:wsdl:Evidences-2" xmlns:evd="ec:schema:xsd:BasicQualification-0.1" 
xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" 
xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
name="BasicQualification" targetNamespace="ec:services:wsdl:Evidences-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:Evidences-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:BasicQualification-0.1" schemaLocation="../xsd2.1/maindoc/EC-BasicQualification-0_1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitEvidencesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BasicQualification" type="evd:BasicQualificationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>		
			<xsd:element name="SubmitEvidencesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitEvidencesRequest">
		<part name="SubmitEvidencesRequest" element="tns:SubmitEvidencesRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitEvidencesResponse">
		<part name="SubmitEvidencesResponse" element="tns:SubmitEvidencesResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="EvidencesPortType">
		<operation name="submitEvidences">
			<input message="tns:submitEvidencesRequest"/>
			<output message="tns:submitEvidencesResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="EvidencesBinding" type="tns:EvidencesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitEvidences">
			<input>
				<soap:body parts="SubmitEvidencesRequest" use="literal"/>
				<soap:header message="tns:submitEvidencesRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitEvidencesResponse" use="literal"/>
				<soap:header message="tns:submitEvidencesResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="EvidencesService">
		<port name="EvidencesPort" binding="tns:EvidencesBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
