004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/OrderCancellation-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="OrderCancellation" xmlns:tns="ec:services:wsdl:OrderCancellation-2" targetNamespace="ec:services:wsdl:OrderCancellation-2" xmlns:ord="urn:oasis:names:specification:ubl:schema:xsd:OrderCancellation-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:OrderCancellation-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderCancellation-2" schemaLocation="../xsd/maindoc/UBL-OrderCancellation-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitOrderCancellationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OrderCancellation" type="ord:OrderCancellationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitOrderCancellationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<message name="submitOrderCancellationRequest">
		<part name="SubmitOrderCancellationRequest" element="tns:SubmitOrderCancellationRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitOrderCancellationResponse">
		<part name="SubmitOrderCancellationResponse" element="tns:SubmitOrderCancellationResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	
	<portType name="OrderCancellationPortType">
		<operation name="submitOrderCancellation">
			<input message="tns:submitOrderCancellationRequest"/>
			<output message="tns:submitOrderCancellationResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="OrderCancellationBinding" type="tns:OrderCancellationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitOrderCancellation">
			<input>
				<soap:body parts="SubmitOrderCancellationRequest" use="literal"/>
				<soap:header message="tns:submitOrderCancellationRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitOrderCancellationResponse" use="literal"/>
				<soap:header message="tns:submitOrderCancellationResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="OrderCancellationService">
		<port name="OrderCancellationPort" binding="tns:OrderCancellationBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
