004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/OrderResponseSimple-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="OrderResponseSimple" xmlns:tns="ec:services:wsdl:OrderResponseSimple-2" targetNamespace="ec:services:wsdl:OrderResponseSimple-2" xmlns:ord="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:OrderResponseSimple-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" schemaLocation="../xsd/maindoc/UBL-OrderResponseSimple-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitOrderResponseSimpleRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OrderResponseSimple" type="ord:OrderResponseSimpleType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitOrderResponseSimpleResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<message name="submitOrderResponseSimpleRequest">
		<part name="SubmitOrderResponseSimpleRequest" element="tns:SubmitOrderResponseSimpleRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitOrderResponseSimpleResponse">
		<part name="SubmitOrderResponseSimpleResponse" element="tns:SubmitOrderResponseSimpleResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	
	<portType name="OrderResponseSimplePortType">
		<operation name="submitOrderResponseSimple">
			<input message="tns:submitOrderResponseSimpleRequest"/>
			<output message="tns:submitOrderResponseSimpleResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="OrderResponseSimpleBinding" type="tns:OrderResponseSimplePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitOrderResponseSimple">
			<input>
				<soap:body parts="SubmitOrderResponseSimpleRequest" use="literal"/>
				<soap:header message="tns:submitOrderResponseSimpleRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitOrderResponseSimpleResponse" use="literal"/>
				<soap:header message="tns:submitOrderResponseSimpleResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="OrderResponseSimpleService">
		<port name="OrderResponseSimplePort" binding="tns:OrderResponseSimpleBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
