004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/Order-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:Order-2"
	xmlns:or="urn:oasis:names:specification:ubl:schema:xsd:Order-2" 
	xmlns:ack="ec:schema:xsd:Ack-2"
	xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Order"
	targetNamespace="ec:services:wsdl:Order-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:Order-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="../xsd/maindoc/UBL-Order-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			 <xsd:element name="SubmitOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Order" type="or:OrderType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
			<xsd:element name="SubmitOrderResponse">
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType" />
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType" />
			<xsd:element name="Fault" type="fault:FaultType" />
		</xsd:schema>
	</wsdl:types>
	 <message name="submitOrderRequest">
        <part name="SubmitOrderRequest" element="tns:SubmitOrderRequest"/>
		<part name="Header" element="tns:Header" />        
    </message>
     <message name="submitOrderResponse">
        <part name="SubmitOrderResponse" element="tns:SubmitOrderResponse"/>
        <part name="Header" element="tns:Header" />
    </message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault" />
	</message>
	<portType name="orderPortType">
        <operation name="submitOrder">
            <input message="tns:submitOrderRequest"/>
            <output message="tns:submitOrderResponse"/>
            <fault message="tns:FaultResponse" name="FaultResponse"/>
        </operation>        
    </portType>
    <binding name="orderBinding" type="tns:orderPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitOrder">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal" parts="SubmitOrderRequest"/>
				<soap:header use="literal" message="tns:submitOrderRequest" part="Header">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </input>
            <output>
                <soap:body use="literal" parts="SubmitOrderResponse"/>
                <soap:header use="literal" message="tns:submitOrderResponse" part="Header">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
            </output>
            <fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
        </operation>
    </binding>
	<service name="orderService">
        <port name="orderPort" binding="tns:orderBinding">
            <soap:address location="${eprior.root.location}/services"/>
        </port>
    </service>
</definitions>