004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/PDAInformationRequest-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:PDAInformationRequest-2" xmlns:apr="ec:schema:xsd:PDAInformationRequest-0.1" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PDAInformationRequest" targetNamespace="ec:services:wsdl:PDAInformationRequest-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:PDAInformationRequest-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:PDAInformationRequest-0.1" schemaLocation="../xsd/maindoc/EC-PDAInformationRequest-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitPDAInformationRequestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PDAInformationRequest" type="apr:PDAInformationRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitPDAInformationRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitPDAInformationRequestRequest">
		<part name="SubmitPDAInformationRequestRequest" element="tns:SubmitPDAInformationRequestRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitPDAInformationRequestResponse">
		<part name="SubmitPDAInformationRequestResponse" element="tns:SubmitPDAInformationRequestResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="PDAInformationRequestPortType">
		<operation name="submitPDAInformationRequest">
			<input message="tns:submitPDAInformationRequestRequest"/>
			<output message="tns:submitPDAInformationRequestResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="PDAInformationRequestBinding" type="tns:PDAInformationRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitPDAInformationRequest">
			<input>
				<soap:body parts="SubmitPDAInformationRequestRequest" use="literal"/>
				<soap:header message="tns:submitPDAInformationRequestRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitPDAInformationRequestResponse" use="literal"/>
				<soap:header message="tns:submitPDAInformationRequestResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="PDAInformationRequestService">
		<port name="PDAInformationRequestPort" binding="tns:PDAInformationRequestBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
