004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/Proposal-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="Proposal" xmlns:tns="ec:services:wsdl:Proposal-2" targetNamespace="ec:services:wsdl:Proposal-2" xmlns:prop="ec:schema:xsd:Proposal-0.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:Proposal-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:Proposal-0.1" schemaLocation="../xsd/maindoc/EC-Proposal-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitProposalRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Proposal" type="prop:ProposalType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitProposalResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<message name="submitProposalRequest">
		<part name="SubmitProposalRequest" element="tns:SubmitProposalRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitProposalResponse">
		<part name="SubmitProposalResponse" element="tns:SubmitProposalResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	
	<portType name="ProposalPortType">
		<operation name="submitProposal">
			<input message="tns:submitProposalRequest"/>
			<output message="tns:submitProposalResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="ProposalBinding" type="tns:ProposalPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitProposal">
			<input>
				<soap:body parts="SubmitProposalRequest" use="literal"/>
				<soap:header message="tns:submitProposalRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitProposalResponse" use="literal"/>
				<soap:header message="tns:submitProposalResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ProposalService">
		<port name="ProposalPort" binding="tns:ProposalBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
