004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/QuotationRequest-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="QuotationRequest" xmlns:tns="ec:services:wsdl:QuotationRequest-2" targetNamespace="ec:services:wsdl:QuotationRequest-2" xmlns:qr="ec:schema:xsd:QuotationRequest-0.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:QuotationRequest-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:QuotationRequest-0.1" schemaLocation="../xsd/maindoc/EC-QuotationRequest-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitQuotationRequestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QuotationRequest" type="qr:QuotationRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitQuotationRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<message name="submitQuotationRequestRequest">
		<part name="SubmitQuotationRequestRequest" element="tns:SubmitQuotationRequestRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitQuotationRequestResponse">
		<part name="SubmitQuotationRequestResponse" element="tns:SubmitQuotationRequestResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	
	<portType name="QuotationRequestPortType">
		<operation name="submitQuotationRequest">
			<input message="tns:submitQuotationRequestRequest"/>
			<output message="tns:submitQuotationRequestResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="QuotationRequestBinding" type="tns:QuotationRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitQuotationRequest">
			<input>
				<soap:body parts="SubmitQuotationRequestRequest" use="literal"/>
				<soap:header message="tns:submitQuotationRequestRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitQuotationRequestResponse" use="literal"/>
				<soap:header message="tns:submitQuotationRequestResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="QuotationRequestService">
		<port name="QuotationRequestPort" binding="tns:QuotationRequestBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
