004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/ReceiptAdvice-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ReceiptAdvice" xmlns:tns="ec:services:wsdl:ReceiptAdvice-2" targetNamespace="ec:services:wsdl:ReceiptAdvice-2" xmlns:rfq="urn:oasis:names:specification:ubl:schema:xsd:ReceiptAdvice-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:ReceiptAdvice-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ReceiptAdvice-2" schemaLocation="../xsd/maindoc/UBL-ReceiptAdvice-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitReceiptAdviceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ReceiptAdvice" type="rfq:ReceiptAdviceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitReceiptAdviceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<message name="submitReceiptAdviceRequest">
		<part name="SubmitReceiptAdviceRequest" element="tns:SubmitReceiptAdviceRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitReceiptAdviceResponse">
		<part name="SubmitReceiptAdviceResponse" element="tns:SubmitReceiptAdviceResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	
	<portType name="ReceiptAdvicePortType">
		<operation name="submitReceiptAdvice">
			<input message="tns:submitReceiptAdviceRequest"/>
			<output message="tns:submitReceiptAdviceResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="ReceiptAdviceBinding" type="tns:ReceiptAdvicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitReceiptAdvice">
			<input>
				<soap:body parts="SubmitReceiptAdviceRequest" use="literal"/>
				<soap:header message="tns:submitReceiptAdviceRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitReceiptAdviceResponse" use="literal"/>
				<soap:header message="tns:submitReceiptAdviceResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ReceiptAdviceService">
		<port name="ReceiptAdvicePort" binding="tns:ReceiptAdviceBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
