004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/SupplierSignedContract-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="ec:services:wsdl:SupplierSignedContract-2" xmlns:cont="ec:schema:xsd:Contract-0.1" 
xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" 
xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
name="SupplierSignedContract" targetNamespace="ec:services:wsdl:SupplierSignedContract-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:SupplierSignedContract-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:Contract-0.1" schemaLocation="../xsd2.1/maindoc/EC-Contract-0_1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitSupplierSignedContractRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Contract" type="cont:ContractType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitSupplierSignedContractResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitSupplierSignedContractRequest">
		<part name="SubmitSupplierSignedContractRequest" element="tns:SubmitSupplierSignedContractRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitSupplierSignedContractResponse">
		<part name="SubmitSupplierSignedContractResponse" element="tns:SubmitSupplierSignedContractResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="SupplierSignedContractPortType">
		<operation name="submitSupplierSignedContract">
			<input message="tns:submitSupplierSignedContractRequest"/>
			<output message="tns:submitSupplierSignedContractResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="SupplierSignedContractBinding" type="tns:SupplierSignedContractPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitSupplierSignedContract">
			<input>
				<soap:body parts="SubmitSupplierSignedContractRequest" use="literal"/>
				<soap:header message="tns:submitSupplierSignedContractRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitSupplierSignedContractResponse" use="literal"/>
				<soap:header message="tns:submitSupplierSignedContractResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="SupplierSignedContractService">
		<port name="SupplierSignedContractPort" binding="tns:SupplierSignedContractBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
