004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/TendererQualificationResponse-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:TendererQualificationResponse-2" xmlns:apr="urn:oasis:names:specification:ubl:schema:xsd:TendererQualificationResponse-2" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TendererQualificationResponse" targetNamespace="ec:services:wsdl:TendererQualificationResponse-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:TendererQualificationResponse-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:TendererQualificationResponse-2" schemaLocation="../xsd2.1/maindoc/UBL-TendererQualificationResponse-2.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitTendererQualificationResponseRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TendererQualificationResponse" type="apr:TendererQualificationResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitTendererQualificationResponseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitTendererQualificationResponseRequest">
		<part name="SubmitTendererQualificationResponseRequest" element="tns:SubmitTendererQualificationResponseRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitTendererQualificationResponseResponse">
		<part name="SubmitTendererQualificationResponseResponse" element="tns:SubmitTendererQualificationResponseResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="TendererQualificationResponsePortType">
		<operation name="submitTendererQualificationResponse">
			<input message="tns:submitTendererQualificationResponseRequest"/>
			<output message="tns:submitTendererQualificationResponseResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="TendererQualificationResponseBinding" type="tns:TendererQualificationResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitTendererQualificationResponse">
			<input>
				<soap:body parts="SubmitTendererQualificationResponseRequest" use="literal"/>
				<soap:header message="tns:submitTendererQualificationResponseRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitTendererQualificationResponseResponse" use="literal"/>
				<soap:header message="tns:submitTendererQualificationResponseResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="TendererQualificationResponseService">
		<port name="TendererQualificationResponsePort" binding="tns:TendererQualificationResponseBinding">
			<soap:address location="${eprior.root.location}services"/>
		</port>
	</service>
</definitions>
