004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/TenderReceipt-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:TenderReceipt-2" xmlns:apr="urn:oasis:names:specification:ubl:schema:xsd:TenderReceipt-2" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TenderReceipt" targetNamespace="ec:services:wsdl:TenderReceipt-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:TenderReceipt-2" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:TenderReceipt-2" schemaLocation="../xsd2.1/maindoc/UBL-TenderReceipt-2.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitTenderReceiptRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TenderReceipt" type="apr:TenderReceiptType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitTenderReceiptResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitTenderReceiptRequest">
		<part name="SubmitTenderReceiptRequest" element="tns:SubmitTenderReceiptRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitTenderReceiptResponse">
		<part name="SubmitTenderReceiptResponse" element="tns:SubmitTenderReceiptResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="TenderReceiptPortType">
		<operation name="submitTenderReceipt">
			<input message="tns:submitTenderReceiptRequest"/>
			<output message="tns:submitTenderReceiptResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="TenderReceiptBinding" type="tns:TenderReceiptPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitTenderReceipt">
			<input>
				<soap:body parts="SubmitTenderReceiptRequest" use="literal"/>
				<soap:header message="tns:submitTenderReceiptRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitTenderReceiptResponse" use="literal"/>
				<soap:header message="tns:submitTenderReceiptResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="TenderReceiptService">
		<port name="TenderReceiptPort" binding="tns:TenderReceiptBinding">
			<soap:address location="${eprior.root.location}services"/>
		</port>
	</service>
</definitions>
