004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/UpdateTrackingFilesStepResponse-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:UpdateTrackingFilesStepResponse-2" xmlns:apr="ec:schema:xsd:UpdateTrackingFilesStepResponse-0.1" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UpdateTrackingFilesStepResponse" targetNamespace="ec:services:wsdl:UpdateTrackingFilesStepResponse-2">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:UpdateTrackingFilesStepResponse-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:UpdateTrackingFilesStepResponse-0.1" schemaLocation="../xsd/maindoc/EC-UpdateTrackingFilesStepResponse-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd" />
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd" />
			<xsd:element name="SubmitUpdateTrackingFilesStepResponseRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UpdateTrackingFilesStepResponse" type="apr:UpdateTrackingFilesStepResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitUpdateTrackingFilesStepResponseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitUpdateTrackingFilesStepResponseRequest">
		<part name="SubmitUpdateTrackingFilesStepResponseRequest" element="tns:SubmitUpdateTrackingFilesStepResponseRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitUpdateTrackingFilesStepResponseResponse">
		<part name="SubmitUpdateTrackingFilesStepResponseResponse" element="tns:SubmitUpdateTrackingFilesStepResponseResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="UpdateTrackingFilesStepResponsePortType">
		<operation name="submitUpdateTrackingFilesStepResponse">
			<input message="tns:submitUpdateTrackingFilesStepResponseRequest"/>
			<output message="tns:submitUpdateTrackingFilesStepResponseResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="UpdateTrackingFilesStepResponseBinding" type="tns:UpdateTrackingFilesStepResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitUpdateTrackingFilesStepResponse">
			<input>
				<soap:body parts="SubmitUpdateTrackingFilesStepResponseRequest" use="literal"/>
				<soap:header message="tns:submitUpdateTrackingFilesStepResponseRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitUpdateTrackingFilesStepResponseResponse" use="literal"/>
				<soap:header message="tns:submitUpdateTrackingFilesStepResponseResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="UpdateTrackingFilesStepResponseService">
		<port name="UpdateTrackingFilesStepResponsePort" binding="tns:UpdateTrackingFilesStepResponseBinding">
			<soap:address location="${eprior.root.location}services"/>
		</port>
	</service>
</definitions>
