004 Development/001 Implementation/e-TrustEx/etrustex-procurement-web/src/main/webapp/wsdl/Willingness-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="Willingness" xmlns:tns="ec:services:wsdl:Willingness-2" targetNamespace="ec:services:wsdl:Willingness-2" xmlns:wil="ec:schema:xsd:Willingness-0.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:Willingness-2" elementFormDefault="qualified">
			<xsd:import namespace="ec:schema:xsd:Willingness-0.1" schemaLocation="../xsd/maindoc/EC-Willingness-0.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-1" schemaLocation="../xsd/maindoc/EC-Fault-1.0.xsd"/>
			<xsd:element name="SubmitWillingnessRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Willingness" type="wil:WillingnessType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitWillingnessResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<message name="submitWillingnessRequest">
		<part name="SubmitWillingnessRequest" element="tns:SubmitWillingnessRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitWillingnessResponse">
		<part name="SubmitWillingnessResponse" element="tns:SubmitWillingnessResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	
	<portType name="WillingnessPortType">
		<operation name="submitWillingness">
			<input message="tns:submitWillingnessRequest"/>
			<output message="tns:submitWillingnessResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="WillingnessBinding" type="tns:WillingnessPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitWillingness">
			<input>
				<soap:body parts="SubmitWillingnessRequest" use="literal"/>
				<soap:header message="tns:submitWillingnessRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitWillingnessResponse" use="literal"/>
				<soap:header message="tns:submitWillingnessResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="WillingnessService">
		<port name="WillingnessPort" binding="tns:WillingnessBinding">
			<soap:address location="${eprior.root.location}/services"/>
		</port>
	</service>
</definitions>
